{{#extends "base"}}

{{#block "content"}}
    <h1>Who we are.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, at quaerat nesciunt eius aliquam in laborum iure nostrum sint iste exercitationem obcaecati vero, id unde libero nobis voluptates, impedit animi.</p>
{{/block}}

{{#block "title"}}
    About Us
{{/block}}

{{/extends}}