{{#extends "base"}}

{{#block "content"}}
    {{#if isRaining}}
    <div class="alert alert-danger">
        It's raining, bring an umbrella.
    </div>
    {{/if}}

    {{#ifEquals favorite "apples"}}
        <p>You love apples.</p>
    {{else}}
        <p>Apples ain't your thing.</p>
    {{/ifEquals}}

    <h2>List of Fruits</h2>
    <ul>
    {{#each fruits}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
    
{{/block}}

{{/extends}}